.container {
    width: 900px;
    height: auto;
    background: #e1e1e1;
    padding: 20px 0px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.span1, .span2 {
    color: #1d69a7;
    border-bottom: 1px dashed;
}
.block {
    line-height: 200px;
    font-size: 100px;
    color: #e1e1e1;
    float: left;
    background-color:#724734;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
}
.text1 {
    text-align: right;
    margin-right: 20px;
}
.button {
    margin-left: 10px;
}
.button2 {
 float: right;
 margin-right: 30px;
 width: 18px;
 height: 18px;
 background-image: url("https://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png");
 background-position: -216px -1px;
}
.button3 {
 float: right;
 margin-right: 10px;
 width: 18px;
 height: 18px;
 background-image: url("https://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png");
 background-position:-240px -1px;
}
.enable {
    background-color:brown;
}
.holder {
    line-height: 200px;
    font-size: 100px;
    color: #e1e1e1;
    float: left;
    background-color:#937A66;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border:1px dashed black;
}
.bigsize {
    line-height: 420px;
    font-size: 200px;
    color: #e1e1e1;
    float: left;
    background-color:#724734;
    width: 420px;
    height: 420px;
    margin: 10px;
    text-align: center;
}
.bigsize .holder {
    float: left;
    background-color:#937A66;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border:1px dashed black;
}
#moving{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}